<div class="wrapper py-5">
  <div class="head p-4 rounded d-flex justify-content-center">
    <div>
      Workitems
    </div>
  </div>
  <div class="workitemsWrapper mt-4 rounded py-2">
    <div class="d-flex justify-content-around mt-4">
      <div></div>
      <div>
        <mat-form-field appearance="outline" class="mx-5 mb-2" style="width: 100%;">
          <mat-label>Search By Name</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
        </mat-form-field>
      </div>
    </div>
    
    <div class="rounded">
      <mat-table  [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.workItemId}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="itemName">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.itemName}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="itemType">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Type </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.itemType}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="quantity">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.quantity}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="sourceCountry">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Source </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.sourceCountry}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="destinationCountry">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Destination </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.destinationCountry}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="shippingDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Shipping Date </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.shippingDate}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="amount">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Amount </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.amount}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef > Action </mat-header-cell>
          <mat-cell *matCellDef="let row" class="text-primary">
            <button mat-icon-button color="primary" (click)="openModal(row)" title="View Contact"><mat-icon>view_module</mat-icon></button>
            <button mat-icon-button color="primary" (click)="isDeleteModalOpen = true" title="View Contact"><mat-icon>delete</mat-icon></button>
          </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    
        <!-- Row shown when there is no matching data. -->
        <div class="mat-row w-100 py-5" *matNoDataRow>
          <p class="w-100 text-center fs-4">No data matching the filter "{{input.value}}"</p>
        </div>
      </mat-table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
  </div>

  <div *ngIf="isModalOpen" class="Modal">
      <div class="Modal-content" >
          <span id="closeModal" class="Close" (click)="closeModal()">&times;</span>
          <h1 class="text-center">Workitem - {{itemData.workItemId}} </h1>
          <div class="px-4 h-75" *ngIf="!isUpdateFormOpen">
              <div class="row ">
                <div class="fieldWrapper col">
                    <div class="nameWrapper">Item Name</div>
                    <div class="valueWrapper">{{itemData.itemName}}</div>
                </div>
                <div class="fieldWrapper col">
                  <div class="nameWrapper">Item Type</div>
                  <div class="valueWrapper">{{itemData.itemType}}</div>
                </div>
              </div>
              <div class="row ">
                <div class="fieldWrapper col">
                    <div class="nameWrapper">Country</div>
                    <div class="valueWrapper">{{itemData.sourceCountry}} to {{itemData.destinationCountry}}</div>
                </div>
                <div class="fieldWrapper col">
                  <div class="nameWrapper">Harbor Location</div>
                  <div class="valueWrapper">{{itemData.originHarborLocation}} to {{itemData.selectedHarborLocations}}</div>
                </div>
              </div>
              <div class="row ">
                <div class="fieldWrapper col">
                    <div class="nameWrapper">Quantity</div>
                    <div class="valueWrapper">{{itemData.quantity}}</div>
                </div>
                <div class="fieldWrapper col">
                  <div class="nameWrapper">Shipping Date</div>
                  <div class="valueWrapper">{{itemData.shippingDate}}</div>
                </div>
              </div>
              <div class="row ">
                <div class="fieldWrapper col">
                    <div class="nameWrapper">Item Description</div>
                    <div class="valueWrapper">{{itemData.itemDescription}}</div>
                </div>
              </div>
              <div class="row">
                <div class="fieldWrapper col">
                  <div class="nameWrapper">Message To Recipient</div>
                  <div class="valueWrapper">{{itemData.messageToRecipient}}</div>
                </div>
              </div>
              
              <div class="row">
                <div class="fieldWrapper col">
                  <div class="nameWrapper">Amount</div>
                  <div class="valueWrapper">{{itemData.amount}}</div>
                </div>
                <div class="fieldWrapper col">
                  <div class="nameWrapper">Status</div>
                  <div class="valueWrapper">In Transit</div>
                </div>
              </div>
              <div class="d-flex justify-content-around my-5 mb-4">
                <button mat-raised-button (click)="closeModal()">Close</button>
                <!-- <button mat-raised-button color="primary" (click)="openUpdateWorkItem()">Update</button> -->
              </div>
          </div>
      </div>
  </div>

   <!-- Delete Modal  -->
    
   <div class="Modal" *ngIf="isDeleteModalOpen">
    <div class="Modal-content w-50 mt-5">
      <span id="closeModal" class="Close" (click)="isDeleteModalOpen = false">&times;</span>
      <h1 class="text-center mt-5">Are you sure want to delete woritem?</h1>
      <div class="d-flex justify-content-around my-5 mb-4">
        <button mat-raised-button (click)="isDeleteModalOpen = false" >Close</button>
        <button mat-raised-button color="primary" (click)="isDeleteModalOpen = false" >Delete</button>
      </div>
    </div>
  </div>
</div>
