<app-home></app-home>
<app-login></app-login>
<mat-toolbar color="primary">
    <div [routerLink]='["/"]' routerLinkActive="active">Custom Toolbar</div>
    <span class="example-spacer"></span>
    <div class="px-4" [routerLink]='["/add-workitem"]' routerLinkActive="active">Add Workitem</div>
    <div class="px-4" [routerLink]='["/dashboard"]' routerLinkActive="active">Profile</div>
    <div class="px-4" [routerLink]='["/login"]' routerLinkActive="active">Login</div>
    <div class="" [routerLink]='["/register"]' routerLinkActive="active">Register</div>
</mat-toolbar>

<!-- 
<app-add-terminal-form></app-add-terminal-form>
<app-update-terminal-form></app-update-terminal-form>
<app-add-vehicle-form></app-add-vehicle-form> -->

<app-admin-dashboard></app-admin-dashboard>
<!-- <app-terminals></app-terminals>
<app-vehicles></app-vehicles> -->
<router-outlet></router-outlet>

