<app-home></app-home>
<mat-toolbar color="primary">
    <div [routerLink]='["/"]' routerLinkActive="active">Custom Toolbar</div>
    <span class="example-spacer"></span>
    <div class="px-4" [routerLink]='["/add-workitem"]' routerLinkActive="active">Add Workitem</div>
    <div class="px-4" [routerLink]='["/dashboard"]' routerLinkActive="active">Profile</div>
    <div class="px-4" [routerLink]='["/login"]' routerLinkActive="active">Login</div>
    <div class="" [routerLink]='["/register"]' routerLinkActive="active">Register</div>
</mat-toolbar>
<router-outlet></router-outlet>

