    <div>
      <div class = "containerr">
      <img src="https://img.freepik.com/premium-photo/transportation-logistics_37416-109.jpg?w=826" height="450" width="100%">
      
      <div class="centered">
        <h2>Welcome to</h2>
        <h2>Freight Transport Region</h2>
      </div>
    </div>
    <br><br>
    <div class="text" style="color: #434343;"><h2>Our Strengths , Which makes us <b>the most preferable moving brand</b></h2></div>
    <div class="border"></div>
    <div class="grid-container">
      <div class="grid-item"><h1 style="color:#4169E1;"><b>30+</b></h1><h1>Years of Trust</h1>
          <h2 style="text-align: center;font-size:15px">Delivering smiles since 2000</h2>
      </div>
      <div class="grid-item"><h1 style="color:#4169E1;"><b>98000+</b></h1><h1>Moves Annually</h1>
        <h2 style="text-align: center;font-size:15px">Happily Across the World</h2>
      </div>
      <div class="grid-item"><h1 style="color:#4169E1;"><b>2+</b></h1><h1>Million sq.feet</h1>
        <h2 style="text-align: center;font-size:15px">Warehouseing Space</h2>
      </div>  
      <div class="grid-item"><h1 style="color:#4169E1;"><b>6000+</b></h1><h1>Trained Manpower</h1>
        <h2 style="text-align: center;font-size:15px">Makes your move safe & on time</h2>
      </div>
      <div class="grid-item"><h1 style="color:#4169E1;"><b>100+</b></h1><h1>Branches PAN India</h1>
        <h2 style="text-align: center;font-size:15px">To cover 1264 destinations nationally</h2>
      </div>
      <div class="grid-item"><h1 style="color:#4169E1;"><b>1000+</b></h1><h1>Vehicles</h1>
        <h2 style="text-align: center;font-size:15px">For every segment and needs</h2>
      </div>  
        
    </div>
  
  </div>
  
  <div class="testimonials" id="services">
    <div class="inner">
      <h1 style="font-size: 35px;">Our Services</h1>
      <div class="border"></div>
  
      <div class="row">
        <div class="col">
          <div class="testimonial">
            <div class="name">FTR Facilities</div>         
           <p>
              Freight Transport Region application helps to manage the overall operations in a Harbour. Admin (Employees of FTR ) and User(Vendor) can avail this application. 
            <br></p>
          </div>
        </div>
  
        <div class="col">
          <div class="testimonial">
            <div class="name">Admin Services</div>       
            <p>
              FTR Admin can manage the major details like managing terminals,loading and grounding operations, handling driver mapping for each vehicle,garage allocation and deallocation, permit barrier access for the vehicle and managing sensor details etc. 
            </p>
          </div>
        </div>
  
        <div class="col">
          <div class="testimonial">
            <div class="name">Customer Services</div>
            <p>
              Customers can register with FTR and request for freight transport,includes the various user specific configuration and it can be viewed using Operations Dashboard.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="abc" id="about">
    <div class="about-us" >       
      <h1>About Us</h1>
      <div class="border"></div>  
      <div class="wrapper">  
        <div class="content">
            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
             tempor incididunt.</h3>
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
           consequat.</p>
          <div class="button">
            <a mat-raised-button color="green" href="">Join with us</a>
          </div>
    
          
    
        </div>
    
        <div class="image-section"> <img src="https://images.unsplash.com/photo-1598193957011-39b9f2916992?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fHBvcnR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60">
        </div> 
      </div> 
    </div>   
  </div>
  
  
  
  <div class="testimonials" id="testimonials">
    <div class="inner">
      <h1 style="font-size: 35px;">Testimonials</h1>
      <div class="border"></div>
  
      <div class="row">
        <div class="col">
          <div class="testimonial">
            <img src="https://www.dmarge.com/wp-content/uploads/2021/01/dwayne-the-rock-.jpg" alt="">
            <div class="name">Full name</div>
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
  
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            </p>
          </div>
        </div>
  
        <div class="col">
          <div class="testimonial">
            <img src="https://www.incimages.com/uploaded_files/image/1920x1080/getty_481292845_77896.jpg" alt="">
            <div class="name">Full name</div>
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
  
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            </p>
          </div>
        </div>
  
        <div class="col">
          <div class="testimonial">
            <img src="https://imageio.forbes.com/specials-images/imageserve/61688aa1d4a8658c3f4d8640/Antonio-Juliano/0x0.jpg?format=jpg&width=960" alt="">
            <div class="name">Full name</div>
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
            </div>
  
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
      
  
  <footer class="footer">
    <div class="inner-footer">
    <div class="social-links">
    <ul>
      <li class="social-items"><a href="#"><i class="fab fa-facebook"></i></a></li>
     <li class="social-items"><a href="#"><i class="fab fa-twitter-square"></i></a></li>
     <li class="social-items"><a href="#"><i class="fab fa-instagram"></i></a></li>
    </ul>
    </div>
  
    <div class="quick-links">
      <ul>
        <li class="quick-items"><a href="#">Home</a></li>
        <li class="quick-items"><a href="#testimonials">Testimonials</a></li>
        <li class="quick-items"><a href="#services">Services</a></li>
        <li class="quick-items"><a href="#about">About us</a></li>
      </ul>
    </div>
    <div class="outer-footer">
      Copyright &copy; Freight Transport Services. All Rights Reserved
      </div>
  </div>
  
  </footer>
  