<div class="wrapper py-5">
    <div class="head p-4 rounded text-center">
      <div>
        User Profile
      </div>
      <button class="editProfile" [routerLink]='["/edit-profile"]' routerLinkActive="active" mat-icon-button aria-label="icon button with a vertical three dot icon">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
    <div class="profileWrapper mt-4 rounded p-5">
        <div class="textFieldWrapper">
            <div class="fieldName">Full Name</div>
            <div class="fieldValue">Annie Thomas</div>
        </div>
        <div class="textFieldWrapper">
            <div class="fieldName">Email</div>
            <div class="fieldValue">anniethomas@gmail.com</div>
        </div>
        <div class="textFieldWrapper">
            <div class="fieldName">Mobile No.</div>
            <div class="fieldValue">7894561327</div>
        </div>
        <div class="textFieldWrapper">
            <div class="fieldName">Nationality</div>
            <div class="fieldValue">Indian</div>
        </div>
        <div class="textFieldWrapper">
            <div class="fieldName">Passport Number</div>
            <div class="fieldValue">A7878765</div>
        </div>
        <div class="textFieldWrapper">
            <div class="fieldName">Permanent Address</div>
            <div class="fieldValue">195/12, Cross, Lalbagh Road, K S Garden,  Bangalore.</div>
        </div>
        <div class="textFieldWrapper">
            <div class="fieldName">Office Address</div>
            <div class="fieldValue">195/12, Cross, Lalbagh Road, K S Garden,  Bangalore.</div>
        </div>
        <div class="textFieldWrapper">
            <div class="fieldName">Personal Identification No.</div>
            <div class="fieldValue">676767898765</div>
        </div>
    </div>
</div>