<app-navbar></app-navbar>
<div class="wrapper py-5">
    <div class="head p-4 rounded text-center">
      <div>
        User Profile
      </div>
      <button class="editProfile" [routerLink]='["/edit-profile"]' routerLinkActive="active" mat-icon-button aria-label="icon button with a vertical three dot icon">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    
    <div class="profileWrapper mt-4 rounded p-5">
        <div class="textFieldWrapper">
            <div class="fieldName">Full Name</div>
            <div class="fieldValue">{{profileData.firstName + ' ' + profileData.lastName}}</div>
        </div>
        <div class="textFieldWrapper">
            <div class="fieldName">Email</div>
            <div class="fieldValue">{{profileData.emailId}}</div>
        </div>
        <div class="textFieldWrapper">
            <div class="fieldName">Mobile No.</div>
            <div class="fieldValue">{{profileData.mobileNumber}}</div>
        </div>
        <div class="textFieldWrapper">
            <div class="fieldName">Nationality</div>
            <div class="fieldValue">{{profileData.nationality}}</div>
        </div>
        <div class="textFieldWrapper">
            <div class="fieldName">Passport Number</div>
            <div class="fieldValue">{{profileData.passportNumber}}</div>
        </div>
        <div class="textFieldWrapper">
            <div class="fieldName">Permanent Address</div>
            <div class="fieldValue">{{profileData.permanentAddress}}</div>
        </div>
        <div class="textFieldWrapper">
            <div class="fieldName">Office Address</div>
            <div class="fieldValue">{{profileData.officeAddress}}</div>
        </div>
        <div class="textFieldWrapper">
            <div class="fieldName">Personal Identification No.</div>
            <div class="fieldValue">{{profileData.personalIdentificationNumber}}</div>
        </div>
    </div>
</div>