.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .example-full-width {
    width: 100%;
  }

  .example-half-width {
    width: 50%;
  }

  mat-radio-button {
    margin-left: 10px;
    color: black;
  }

  mat-label {
    color: black;
  }
