<div class="container " id="container">
	<div [@formState] ="loginState"class="form-container sign-up-container">
		<form action="#">
			<!--<h1>Create Account</h1>-->
			
			<!--<span>or use your email for registration</span>-->

			
       <!--     <input type="text" placeholder="User Id" /> 
			<input type="text" placeholder="First Name" />
			<input type="text" placeholder="Last Name" />
			<input type="text" placeholder="Mobile Number" />
			<input type="email" placeholder="Email" />
			<input type="password" placeholder="Password" />
			<button>Sign Up</button>-->
			<form [formGroup]="personalDetails" id="msform">
				<!-- progressbar -->
				<ul id="progressbar">
					<li [ngClass]="step>=1 ? 'active ' : 'inactive'">Personal Details</li>
					<li [ngClass]="step>=2 ? 'active' : 'inactive'">Social Profiles</li>
					<li [ngClass]="step==3 ? 'active' : 'inactive'">Account Setup</li>
				</ul>
				<!-- fieldsets -->
	
				<fieldset  *ngIf="step == 1" >
					<h2 class="fs-title">Personal Details</h2>
					<input type="text" formControlName="name"  [ngClass]="{ 'is-invalid': personal_step && personal.name.errors }" placeholder="First Name"/>
					<div *ngIf="personal_step && personalDetails.controls.name.errors">
						<div *ngIf="personal.name.errors?.required">Name is required</div>
					</div>
					<input type="text" formControlName="name"  [ngClass]="{ 'is-invalid': personal_step && personal.name.errors }" placeholder=" Name"/>
					<div *ngIf="personal_step && personalDetails.controls.name.errors">
						<div *ngIf="personal.name.errors?.required">Name is required</div>
					</div>
					<input type="text" formControlName="email" name="email" placeholder="Email"/>
					<div *ngIf="personal_step && personalDetails.controls.email.errors">
					  <div *ngIf="personal.email.errors?.required">Email is required</div>
				   </div>
				   <input type="text" formControlName="phone" name="phone" placeholder="Password"/>
					<div *ngIf="personal_step && personalDetails.controls.phone.errors">
					  <div *ngIf="personal.phone.errors?.required">Phone is required</div>
				  </div>
					<input type="text" formControlName="phone" name="phone" placeholder="Phone"/>
					<div *ngIf="personal_step && personalDetails.controls.phone.errors">
					  <div *ngIf="personal.phone.errors?.required">Phone is required</div>
				  </div>
					<input (click)="next()" type="button" name="next" class="next action-button" value="Next"/>
				</fieldset>
			</form>
			 <form [formGroup]="addressDetails" id="msform">
				<fieldset *ngIf="step == 2" >
					<h2 class="fs-title">Address Details</h2>
					<input type="text" formControlName="city"  placeholder="City"/>
					<div *ngIf="address_step && addressDetails.controls.city.errors">
						<div *ngIf="address.city.errors?.required">City is required</div>
					</div>
					<textarea rows="5" cols="5" formControlName="address"  placeholder="address"></textarea>
					<div *ngIf="address_step && addressDetails.controls.address.errors">
						<div *ngIf="address.address.errors?.required">Permanent Address is required</div>
					</div>
					<input type="text" formControlName="pincode"  placeholder="Official Addresss"/>
					<div *ngIf="address_step && addressDetails.controls.pincode.errors">
						<div *ngIf="address.pincode.errors?.required">Pincode is required</div>
					</div>
					<input (click)="previous()" type="button" name="previous" class="previous action-button-previous" value="Previous"/>
					<input  (click)="next1()" type="button" name="next" class="next action-button" value="Next"/>
				</fieldset>
			</form>
			 <form [formGroup]="addressDetails" id="msform">
				<fieldset *ngIf="step == 3">
					<h2 class="fs-title">ID Detail</h2>
					<input type="text" formControlName="highest_qualification" placeholder="passport number"/>
					<div *ngIf="education_step && educationalDetails.controls.highest_qualification.errors">
						<div *ngIf="education.highest_qualification.errors?.required">Highest qualification is required</div>
					</div>
					<input type="text" formControlName="university"  placeholder="personal Identification number"/>
					<div *ngIf="education_step && educationalDetails.controls.university.errors">
						<div *ngIf="education.university.errors?.required">University is required</div>
					</div>
					<input type="text" formControlName="total_marks" placeholder="Nationality"/>
					<div *ngIf="education_step && educationalDetails.controls.total_marks.errors">
						<div *ngIf="education.total_marks.errors?.required">Total marks is required</div>
					</div>
					<input (click)="previous()" type="button" name="previous" class="previous action-button-previous" value="Previous"/>
					<input (click)="submit()"type="submit" name="submit" class="submit action-button" value="Submit"/>
				</fieldset>
			</form>

		</form>
	</div>
	<div [@formState]="registerState" class="form-container sign-in-container p-3">
		<form >
			<h1>Sign in</h1>			
			<span>or use your account</span>
			<div class="row ">
				<div class="col-12">
					<mat-form-field appearance="outline"  >     
						<mat-label>Email</mat-label>   
						<input matInput placeholder="Email" formControlName="email">
						<!-- <mat-error *ngIf="f['email'].touched">
							<mat-error *ngIf="f['email'].errors && f['email'].errors['required']">This is required</mat-error>
							<mat-error *ngIf="f['email'].errors && (f['email'].errors['minlength'] || f['email'].errors['maxlength'])">Item Name should be between 3 to 25 characters</mat-error>  
						</mat-error> -->				
						<!-- <mat-hint>Hint</mat-hint>   -->
					</mat-form-field> 
				</div>
				<div class="col-12">
					<mat-form-field appearance="outline">
						<mat-label>Password</mat-label>
						<input matInput [type]="hide ? 'password' : 'text'">
						<button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
						  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
						</button>
					  </mat-form-field>
				</div>
			</div>			
			<input class="form-control" formControlName="password" type="password" placeholder="Password" />
			<a href="#">Forgot your password?</a>
			<button>Sign In</button>
		</form>
	</div>
	<div [@formState]="registerState"class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>







			
			<div class="overlay-panel overlay-right">
				<h1>Welcome Back!</h1>
				<p>Sign Up for Newsletter!</p>
				<button (click)="toggle()"  class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
	<div [@formState]="loginState"class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us</p>
				<button (click)="toggle()"  class="ghost" id="signIn">Sign In</button>
			</div>
		</div>
	</div>
</div>
