<!-- home -->
<mat-toolbar *ngIf="isAdmin == null" class = "mat-elevation-z8" style="background-color: #272727;">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon >directions_boat_filled</mat-icon>
      </button>
      <a [routerLink]='["/home"]' routerLinkActive="active"><span style="color: aqua;">FTR</span></a>&nbsp;&nbsp;&nbsp;
      <a mat-raised-button [routerLink]='["/home"]' fragment="services"><mat-icon>account_circle</mat-icon>Services</a>&nbsp;&nbsp;&nbsp;
      <a mat-raised-button href="#about"><mat-icon>account_circle</mat-icon>About us</a>&nbsp;&nbsp;&nbsp;
      <div class="space"></div>
      <a mat-raised-button [routerLink]='["/login"]' routerLinkActive="active"><mat-icon>account_circle</mat-icon>User</a>&nbsp;&nbsp;&nbsp;
      <a mat-raised-button [routerLink]='["/login" ]' routerLinkActive="active"><mat-icon>manage_accounts</mat-icon>Admin</a>&nbsp;&nbsp;&nbsp;
      <a mat-raised-button [routerLink]='["/register"]' routerLinkActive="active"><mat-icon>person_add</mat-icon>Register</a>&nbsp;&nbsp;&nbsp;
      <a mat-raised-button [routerLink]='["/login"]' routerLinkActive="active"><mat-icon>verified_user</mat-icon>Existing User</a>&nbsp;&nbsp;&nbsp;
    </mat-toolbar-row>
</mat-toolbar>

<!-- user -->
<mat-toolbar *ngIf="isAdmin == 'false'" class = "mat-elevation-z8" style="background-color: #272727;">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon >directions_boat_filled</mat-icon>
      </button>
      <a [routerLink]='["/home"]' routerLinkActive="active"><span style="color: aqua;">FTR</span></a>&nbsp;&nbsp;&nbsp;
      <div class="space"></div>
      <a mat-raised-button [routerLink]='["/workitem"]' routerLinkActive="active"><mat-icon>work</mat-icon>Work Items</a>&nbsp;&nbsp;&nbsp;
      <a mat-raised-button [routerLink]='["/profile" ]' routerLinkActive="active"><mat-icon>person</mat-icon>Profile</a>&nbsp;&nbsp;&nbsp;
      <a mat-raised-button (click)="logoutBtn()"><mat-icon>logout</mat-icon>Logout</a>&nbsp;&nbsp;&nbsp;
    </mat-toolbar-row>
</mat-toolbar>

<!-- admin -->
<mat-toolbar *ngIf="isAdmin == 'true'" class = "mat-elevation-z8" style="background-color: #272727;">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon >directions_boat_filled</mat-icon>
      </button>
      <a [routerLink]='["/home"]' routerLinkActive="active"><span style="color: aqua;">FTR</span></a>&nbsp;&nbsp;&nbsp;
      <div class="space"></div>
      <a mat-raised-button [routerLink]='["/admin-workitem"]' routerLinkActive="active"><mat-icon>work</mat-icon>Work Items</a>&nbsp;&nbsp;&nbsp;
      <a mat-raised-button [routerLink]='["/terminals" ]' routerLinkActive="active"><mat-icon>garage</mat-icon>Terminals</a>&nbsp;&nbsp;&nbsp;
      <a mat-raised-button [routerLink]='["/vehicles"]' routerLinkActive="active"><mat-icon>local_shipping</mat-icon>Vehicles</a>&nbsp;&nbsp;&nbsp;
      <a mat-raised-button (click)="logoutBtn()"><mat-icon>logout</mat-icon>Logout</a>&nbsp;&nbsp;&nbsp;
    </mat-toolbar-row>
</mat-toolbar>