<div class="wrapper py-5">
    <div class="head p-4 rounded text-center">
      Add Terminals
    </div>
    <div class="formWrapper mt-5 rounded p-4 px-5">
        <form [formGroup]="addTerminalForm" class="example-form">
            <div class="row mb-2">
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Terminal Name</mat-label>
                        <input type="text" matInput formControlName="terminalName">
                        <mat-error *ngIf="terminalName.errors?.['required']">
                            Terminal Name is required
                        </mat-error>
                        <mat-error *ngIf="terminalName.errors?.['minlength']">
                            Minimum 3 characters
                        </mat-error>
                        <mat-error *ngIf="terminalName.errors?.['maxlength']">
                            Maximum 20 characters
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Country</mat-label>
                        <input type="text" matInput formControlName="country">
                        <mat-error *ngIf="country.errors?.['required']">
                            Country is required
                        </mat-error>
                        <mat-error *ngIf="country.errors?.['minlength']">
                            Minimum 3 characters
                        </mat-error>
                        <mat-error *ngIf="country.errors?.['maxlength']">
                            Maximum 20 characters
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Item Type</mat-label>
                        <input type="text" matInput formControlName="itemType">
                        <mat-error *ngIf="itemType.errors?.['required']">
                            Item Type is required
                        </mat-error>
                        <mat-error *ngIf="itemType.errors?.['minlength']">
                            Minimum 4 characters
                        </mat-error>
                        <mat-error *ngIf="itemType.errors?.['maxlength']">
                            Maximum 30 characters
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Harbor Location</mat-label>
                        <input type="text" matInput formControlName="harborLocation">
                        <mat-error *ngIf="harborLocation.errors?.['required']">
                            Harbor Location is required
                        </mat-error>
                        <mat-error *ngIf="harborLocation.errors?.['minlength']">
                            Minimum 5 characters
                        </mat-error>
                        <mat-error *ngIf="harborLocation.errors?.['maxlength']">
                            Maximum 25 characters
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Terminal Description</mat-label>
                        <input type="text" matInput formControlName="terminalDescription">
                        <mat-error *ngIf="terminalDescription.errors?.['required']">
                            Terminal Description is required
                        </mat-error>
                        <mat-error *ngIf="terminalDescription.errors?.['descInvalid']">
                            {{terminalDescription.errors?.['descInvalid'].message}}
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Capacity</mat-label>
                        <input type="number" matInput formControlName="capacity">
                        <mat-error *ngIf="capacity.errors?.['required']">
                            Capacity is required
                        </mat-error>
                        <mat-error *ngIf="capacity.errors?.['max']">
                            Capacity should less than 100000
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Available Capacity</mat-label>
                        <input type="number" matInput formControlName="availableCapacity">
                        <mat-error *ngIf="availableCapacity.errors?.['required']">
                            Available Capacity is required
                        </mat-error>
                        <mat-error *ngIf="availableCapacity.errors?.['max']">
                            Available Capacity should less than 100000
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <mat-radio-group aria-label="Status" formControlName="status">
                <mat-radio-button value="Available">Available</mat-radio-button>
                <mat-radio-button value="NotAvailable">Not Available</mat-radio-button>
            </mat-radio-group>
            
            <div class="d-flex justify-content-around mt-4">
                <button [disabled]="addTerminalForm.invalid" (click)="addTerminal()" mat-raised-button color="primary" appearance="fill">Add</button>
            </div>
        </form>
    </div>
</div>