.wrapper{
    background: #e5e5e5;
    height: 100%;

    padding: 0 200px;
  }
  .head{
    background: #fff;
    font-size: 24px;
  }
  .formWrapper{
    background: #fff;
    padding: 40px 70px;
  }